<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".processrecovery.ProcessRecoveryTestApplication"
        tools:replace="android:name">
        <receiver
            android:name=".processrecovery.ProcessRecoveryTestReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.UpdateInstallStateReceiver"
            tools:node="remove" />
    </application>
</manifest>
